<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Edit Tools</title>
    <link rel="stylesheet" href="http://localhost:8080/arcgis_js_api/3.22/dijit/themes/nihilo/nihilo.css">
    <link rel="stylesheet" href="http://localhost:8080/arcgis_js_api/3.22/esri/css/esri.css">

    <style>
        html, body, #mainWindow {
            font-family: sans-serif;
            height: 100%;
            width: 100%;
        }
        html, body {
            margin: 0;
            padding: 0;
        }
        #mainWindow {
            visibility: hidden;
        }
    </style>
    <script>
        var locationPath=location.pathname.replace(/\/[^\/]+$/, "");
        var rootPath = locationPath.substr(0, locationPath.substr(1).indexOf("/") + 1);

        window.dojoConfig={
            deps:["Editing/EditorTest"],
            packages:[
                {
                    name:"Editing",
                    location: rootPath + "/src/js/ESRIWebGIS/Editing"
                }
            ]
        };

    </script>
    <script src="http://localhost:8080/arcgis_js_api/3.22/init.js"></script>
</head>
<body class="nihilo">
<div id="mainWindow" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design:'headline', gutters:'false'">
    <div id="header" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'" style="height:58px;text-align:left;font-weight:bold;font-size:14px;color:#400D12;">
        <span>Specify options then click a graphic to edit the shape. Click outside the graphic to deactivate the toolbar.</span><br />
        <div id="tool_move" data-dojo-type="dijit/form/ToggleButton" data-dojo-props="checked:'true', iconClass:'dijitCheckBoxIcon'">Move</div>
        <div id="tool_vertices" data-dojo-type="dijit/form/ToggleButton" data-dojo-props="checked:'true', iconClass:'dijitCheckBoxIcon'">Edit Vertices</div>
        <div id="tool_scale" data-dojo-type="dijit/form/ToggleButton" data-dojo-props="checked:'true', iconClass:'dijitCheckBoxIcon'">Scale</div>
        <div id="tool_rotate" data-dojo-type="dijit/form/ToggleButton" data-dojo-props="checked:'true', iconClass:'dijitCheckBoxIcon'">Rotate</div>
        <button data-dojo-type="dijit/form/DropDownButton" id="options"  data-dojo-props="value:'options'">
            <span>Options</span>
            <div data-dojo-type="dijit/Menu" id="optionsMenu">
                <div id="vtx_ca" data-dojo-type="dijit/CheckedMenuItem" data-dojo-props="checked:'true'">Allow Add Vertices</div>
                <div id="vtx_cd" data-dojo-type="dijit/CheckedMenuItem" data-dojo-props="checked:'true'">Allow Delete Vertices</div>
                <div id="uniform_scaling" data-dojo-type="dijit/CheckedMenuItem" data-dojo-props="checked:'true'">Uniform Scaling when Resizing</div>
            </div>
        </button>
    </div>
    <div id="map" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">
    </div>
</div>
</body>
</html>