<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Business Card</title>
    <style type="text/css">
    	body, html { margin: 0; height: 100%; width: 100%; }
    	.businessCard { border: 3px inset gray; margin: 1em; } 
    	.employeeName { color: blue; } 
    	.specialEmployeeName { color: red; }
    </style>

    <link rel="stylesheet" href="http://localhost:8080/arcgis_js_api/3.22/dijit/themes/tundra/tundra.css">


    <script>
        var locationPath=location.pathname.replace(/\/[^\/]+$/, "");
        var rootPath = locationPath.substr(0, locationPath.substr(1).indexOf("/") + 1);

        window.dojoConfig={
            deps:["Layout/BusinessCard"],
            packages:[
                {
                    name:"Layout",
                    location: rootPath + "/src/js/dojo/Layout"
                }
            ]
        };

    </script>
    <script src="http://localhost:8080/arcgis_js_api/3.22/init.js"></script>


</head>
<body class="tundra">
    <span data-dojo-type="BusinessCard" data-dojo-props="name: '陈德选', phone: '(010) 63981212'">
    </span>
    <span data-dojo-type="BusinessCard" data-dojo-props="name: '刘泊芸', nameClass: 'specialEmployeeName', phone: '(010) 63967113'">
    </span>
</body>
</html>

